<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_FixtureGenerator>
            <version>1.0.0</version>
        </Hackathon_FixtureGenerator>
    </modules>
    <global>
        <models>
            <hackathon_fixturegenerator>
                <class>Hackathon_FixtureGenerator_Model</class>
            </hackathon_fixturegenerator>
        </models>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Hackathon_FixtureGenerator/>
            </modules>
        </suite>
    </phpunit>
</config>
