<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_FixtureGenerator>
            <version>1.0.0</version>
        </Hackathon_FixtureGenerator>
    </modules>
    <global>
        <models>
            <hackathon_fixturegenerator>
                <class>Hackathon_FixtureGenerator_Model</class>
            </hackathon_fixturegenerator>
        </models>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Hackathon_FixtureGenerator/>
            </modules>
        </suite>
        <testdata>
            <processor>
                <customer>
                    <entity_id>{increment:1}</entity_id>
                    <website_id>1</website_id>
                    <group_id>1</group_id>
                    <firstname>Firstname</firstname>
                    <lastname>Lastname {$entity_id}</lastname>
                    <email>firstname.lastname{$entity_id}@example.org</email>
                    <password>password12345</password>
                </customer>
                <customer_address>
                    <entity_id>{increment:1}</entity_id>
                    <parent_id>{$entity_id}</parent_id>
                    <firstname>Firstname</firstname>
                    <lastname>Lastname {$entity_id}</lastname>
                    <street>Test Street {$entity_id}</street>
                    <city>Test City</city>
                    <country_id>US</country_id>
                    <region_id>23</region_id>
                    <postcode>{range:10000,50000,1000}</postcode>
                    <telephone>0123456789</telephone>
                </customer_address>
                <product>
                    <simple>
                        <entity_id>{increment:1}</entity_id>
                        <type_id>simple</type_id>
                        <tax_class_id>1</tax_class_id>
                        <status>1</status>
                        <visibility>4</visibility>
                        <description>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</description>
                        <short_description>Lorem ipsum dolor sit amet.</short_description>
                        <price>{range:10,50,10}</price>
                        <weight>1</weight>
                        <name>Test</name>
                        <sku>test_|{range:1:5:1}</sku>
                    </simple>
                    <virtual>
                        <entity_id>{increment:1}</entity_id>
                        <type_id>virtual</type_id>
                        <tax_class_id>1</tax_class_id>
                        <status>1</status>
                        <visibility>4</visibility>
                        <description>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</description>
                        <short_description>Lorem ipsum dolor sit amet.</short_description>
                        <price>{range:10,50,10}</price>
                        <name>Virtual</name>
                        <sku>virtual_|{range:1:5:1}</sku>
                    </virtual>
                </product>
            </processor>
        </testdata>
    </phpunit>
</config>
